<style>body {font-family: Verdana,Arial,Helvetica; font-size: smaller; color: #000000; margin-right: 10%;}
td {font-family: Verdana,Arial,Helvetica; font-size: smaller; color: #000000}
th {font-family: Verdana,Arial,Helvetica; font-size: smaller; color: #000000}
A:link {text-decoration: none; color:#0000a0}
A:visited {text-decoration: none;}
A:hover {text-decoration: underline;color:#ff0000}
td.label  { color: #000000; background: #f4f4f4 }
body.navframe {font-family: Verdana,Arial,Helvetica; font-size: smaller; color: #000000; background: #ffffd7}
</style>
